*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
}
button{
    padding: .5em 1em;
    background: var(--primary);
    color: var(--white);
    border-radius: 5px;
    font-weight: 600
}
body{
    background-color: var(--secondary);
}
header{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
}
header .left{
    display: flex;
    align-items: center;
    gap: 2em;
}
header .left .search-box{
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--white);
    padding: .5em 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
header .left .search-box input{
    border: none;
    background-color: transparent;
    font-size: 1rem;
}
.right a{
 margin-left: 0.5em;
 color: var(--black);
}
section{
    padding: 2.5em
}
.hero .row{
    display: flex;
    align-items: start;
    justify-content: space-around
}
.hero .row h3{
    font-size: 5rem;
    font-weight: 500;
    line-height: 1em;
}
.hero .row p{
    margin: 2em 0;
    color: var(--dim);
    width: 80%;
}

.hero .row button{
    font-size: 1.2rem
}
.hero .col{
    width: 50%
}
.hero .row img{
    width: 100%;
    height: 400px;
    background-color: rgb(240, 240, 240)
}