main {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 span {
  color: var(--primary);
}
.form .login {
  background-color: var(--white);
  min-width: fit-content;
  width: 300px;
  max-width: 500px;
  padding: 2em;
  border-radius: 10px;
  display: block;
  margin: auto;
}
.login .input_field {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}
.form input {
  width: 100%;
  background-color: rgb(216, 216, 216);
  padding: 1em;
  border-radius: 20px;
}
.forgot {
  text-align: end;
  color: rgb(146, 146, 146);
  cursor: pointer;
}
.no_ac {
  color: rgb(146, 146, 146);
  cursor: pointer;
  text-align: center;
}
.no_ac a {
  font-weight: 600;
  color: #0280cf;
  margin-left: 5px;
}
::placeholder {
  color: rgb(146, 146, 146);
}
.form .login button {
  background-color: var(--primary);
  padding: 0.5em 1.7em;
  width: 100%;
  margin: .5em 0;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;

  &:hover {
    scale: 1.01;
    background-color: var(--text);
  }
}
.form p{
    font-size: 13px;
}
.form:has(:target#loginPage) .login {
  display: block;
}

.form:has(:target#loginPage) .signup {
  display: none;
}
.form:has(:target#signupPage) .signup {
  display: block !important;
}

.form:has(:target#signupPage) .login {
  display: none;
}
